@charset "UTF-8";
/* CSS Document */

.photocards {
	max-width: 100%;
        display: block;
        margin: auto;
}

.updatecards {
	max-width: 76%;
        display: block;
        margin:5px;
}
.introback {
	/*background-color: #FFFFFF;*/
	height:100%;
	background-image:url(  Yosemite4.jpg);
	background-size:cover;
	background-position: top;
	background-repeat: no-repeat;
	padding-bottom: 50px;
	overflow: hidden;
}

.intro {
	width: 100%;
	height: 80%;
	margin-top: 60px;
	text-align: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.12);
	background-position:center;
	padding-top:40px;
	padding-bottom: 20px;
	position:relative;
}




.profile {
	width: 15%;
}

.state {
	width:100%;
	height: 20px;
	text-align: center;
	padding-bottom: 50px;
}

.page-contents {
  max-width: 100%;
  width: 90%;
  margin: 40px;
}

.page-contents > * {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.2s, transform 0.2s;
}
.page-contents > *:nth-child(1) {
  transition-delay: 0.4s;
}
.page-contents > *:nth-child(2) {
  transition-delay: 0.6s;
}
.page-contents > *:nth-child(3) {
  transition-delay: 0.8s;
}
.page-contents > *:nth-child(4) {
  transition-delay: 1s;
}
.page-contents > *:nth-child(5) {
  transition-delay: 1.2s;
}
.page-contents > *:nth-child(6) {
  transition-delay: 1.4s;
}
.page-contents > *:nth-child(7) {
  transition-delay: 1.6s;
}
.page-contents > *:nth-child(8) {
  transition-delay: 1.8s;
}
.page-contents > *:nth-child(9) {
  transition-delay: 2s;
}
.page-contents > *:nth-child(10) {
  transition-delay: 2.2s;
}
.page-contents > *:nth-child(11) {
  transition-delay: 2.4s;
}
.page-contents > *:nth-child(12) {
  transition-delay: 2.6s;
}
.page-contents > *:nth-child(13) {
  transition-delay: 2.8s;
}
.page-contents > *:nth-child(14) {
  transition-delay: 3s;
}
.page-contents > *:nth-child(15) {
  transition-delay: 3.2s;
}
.page-contents > *:nth-child(16) {
  transition-delay: 3.4s;
}
.page-contents > *:nth-child(17) {
  transition-delay: 3.6s;
}
.page-contents > *:nth-child(18) {
  transition-delay: 3.8s;
}
.page-contents > *:nth-child(19) {
  transition-delay: 4s;
}
.page-contents > *:nth-child(20) {
  transition-delay: 4.2s;
}
input[type="radio"] + .page {
  transition: transform 0.2s;
  transform: translateX(100%);
}

input[type="radio"]:checked + .page {
  transform: translateX(0%);
}
input[type="radio"]:checked + .page .page-contents > * {
  opacity: 1;
  transform: translateY(0px);
}

.page {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-column-end: span 3;
  padding: 0px 20px;
  display: flex;
  align-items: center;
}

.userpic{
	height:100px;
	margin:2px 25px;
	border-radius:50%;
}

.blog p {
            font: 80%/1.6 Verdana, Geneva, Arial, Helvetica, sans-serif;
        }
        .blog p:first-letter {
            font-size: 2em;
            padding: 0.1em;
            color: #000000;
            vertical-align: middle;
        }
        .blog p:first-line {
            color: red;
}
        .blog p:first-child:first-line {
            color: inherit;
        }

location ~* \.(eot|ttf|woff|svg|otf)$ {
     add_header Access-Control-Allow-Origin *;
}